body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
    /* Thay #your_color_here bằng mã màu hoặc tên màu bạn muốn sử dụng */
}

.container {
    width: 1200px;
    height: auto;
    margin: 0 auto;

}

header {
    background-color: #fff;
    height: 130px;
    width: 100%;
    border: 1px solid;
}

#hotline {
    position: relative;

    bottom: 100px;
    float: right;
    text-decoration: none;
    margin-right: 5%;

}

#hotline h4:hover {
    color: rgb(223, 40, 40);
}

#sdt {
    width: 200px;
}

#search {
    position: relative;
    left: 280px;
    bottom: 89px;
}

#iconsearch {
    position: relative;
    left: 240px;
    bottom: 92px;
}

#phone {
    position: relative;
    left: 500px;
    bottom: 92px;
    transition: 0.25s;
}

#phone:hover {
    transform: rotate(20deg);
}

.menu {
    width: 100%;
    background-color: blue;
    height: 70px;
    border: 1px solid;

}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.menu ul li a {
    text-decoration: none;

}

.menu a:hover {
    color: orangered;
}


.menu ul li {
    display: flex;
    display: inline;
    list-style: none;

    padding: 2%;

}
#diachi{
   position: relative;
right: 100px;
}

.content {
    width: 100%;
    height: auto;
    background-color: darkgreen;
    position: relative;
    bottom: 16px;
}

.down {
    background-color: #fff;
    height: auto;
    width: 100%;
}

.down ul li {
    display: flex;
    display: inline;
    text-decoration: none;
}

.down {
    padding: 2%;
}

ul.item1 li a {
    text-decoration: none;
    display: flex;
    display: inline;
    padding: 2%;
}

.box {
    height: 190px;
    width: 360px;
    border: 1px solid;
    border-radius: 10px;
    background: linear-gradient(30deg, #00579c, #0067bc);
    margin-left: 2%;
    color: white;
}

.box a {
    color: white;

}

.box a:hover {
    color: orange;


}

.list {
    display: flex;
    justify-content: space-between;
}

.box h5 a {
    text-decoration: none;
}

#xe {
    position: relative;
    bottom: 180px;
    left: 200px;
    transition: 0.25s;
}

#xe:hover {
    transform: rotate(20deg);
}
.slide1 img{
    width: 190px;
    padding: 2%;
    
}
.slide-picture{
    display: flex;
    justify-content: space-between;
    

}
.slide1{
    height: 300px;
    width: 190px;
    border: 1px solid black;
    border-radius: 10px;
}


.slide1 img {
    overflow: hidden;

}

.slide1 img:hover {
    transition: .8s ease-out;
    overflow: auto;
    will-change: transform;
}
.section img{
    width: 100%;
}

.active .testimonial-content {
    position: relative;
    padding: 30px 20px 20px 60px;
    background-color: pink;
    border-radius: 8px;
    border: 2px solid #e5e5e5;
}

.active .testimonial-picture img {
    width: 80px;
    height: 80px;
    position: absolute;
    display: block;
    top: -25px;
    left: -25px;
    border-radius: 80px;
}

.active .testimonial-item {
    padding: 30px;
    width: 50%;
}
.footer {
    height: 250px;
    width: 100%;
    border: 1px solid;
    background-color: bisque;
    clear: both;
}
td {
    margin-top: 3%;
}

.dk{
    background-color: aqua;
}
.dk1{
    background-color: aqua;
}